<label>
  checkbox<input type="checkbox" (change)="onCheckboxChange($event.target.checked)" />
</label>
<hr />
<label>
  color<input type="color" />
</label>
<hr />
<label>
  date<input type="date" />
</label>
<hr />
<label>
  datetime-local<input type="datetime-local" />
</label>
<hr />
<label>
  email<input type="email" />
</label>
<hr />
<label>
  file<input type="file" />
</label>
<hr />
<label>
  hidden<input type="hidden" />
</label>
<hr />
<label>
  image<input type="image" />
</label>
<hr />
<label>
  month<input type="month" />
</label>
<hr />
<label>
  number<input type="number" />
</label>
<hr />
<label>
  password<input type="password" />
</label>
<hr />
<label>
  radio<input type="radio" />
</label>
<hr />
<label>
  range<input type="range" />
</label>
<hr />
<label>
  reset<input type="reset" />
</label>
<hr />
<label>
  search<input type="search" />
</label>
<hr />
<label>
  submit<input type="submit" />
</label>
<hr />
<label>
  tel<input type="tel" />
</label>
<hr />
<label>
  text<input type="text" />
</label>
<hr />
<label>
  time<input type="time" />
</label>
<hr />
<label>
  url<input type="url" />
</label>
<hr />
<label>
  week<input type="week" />
</label>